<app-header></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="formulariousuario">
    <ion-item fill="outline">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Nombre" formControlName="nombre"></ion-input>
    </ion-item> <br>
    <ion-item fill="outline">
      <ion-label position="floating" >Contraseña</ion-label>
      <ion-input placeholder="Contraseña" formControlName="contraseña"></ion-input>
    </ion-item>
  </form>
  <br>
  <ion-button (click)="grabarAlumno()">Ingresar</ion-button> 
  <br>
  <a routerLink="/restablecer">Recuperar Contraseña</a>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>